$color1:#efefef;
$color2:#0a3143;
$color3:#276e90;
$color4:#c3cfc9;

$lista1: #04080f #507dbc #a1c6ea #bbd1ea #dae3e5;

@each $colors in $lista1 {
    .#{$colors}{
        background-color: $colors;
    }
}

$headers: h1 , h2 , h3 , h4 , h5 ;
$fontsize: 55px 45px 40px 35px 30px 25px;
$index: 1;

@for $i from 1 through 6{
    #{ nth($headers, $i)} {
        font-size: nth($fontsize , $i);
        line-height: nth($fontsize , $i) + 10 ;
    }
}

.contenedor{
    margin: 0 auto;
    max-width: 1000px;
    width: 90%;
}

.card{
    background: $color1;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}

.card__thumbnail{
    height: 200px;
    margin-right: 20px;
    overflow: hidden;
    display: inline-block;
}

.card__img{
    width: auto;
}

.card__titulo{
    margin-bottom: 20px;
}

.card__enlace{
    color: $color2;

}

.card__extracto{
    line-height: 28px;
    margin-bottom: 20px;
}

.boton{
    border: none;
    min-width: 180px;
    height: 50px;
    padding: 0 30px;
    background:$color3;
    color: $color1;
    display: inline-block;
    border-radius: 100px;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

}

.boton__texto{
    font-weight: 550;
}

.boton:hover{
    background: $color2;
    color: $color1;
    text-decoration: none;
}

.boton--gris{
    background: $color4;
    color: $color2;
}

.boton--gris:hover{
    background: $color2;
    color: $color1;
}

.frase{
    text-align: center;
    margin: 70px 0;
}

.frase__texto{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 550;
}

